html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 8rem;
  background-color: black;
}

.sidebar-container {
  height: auto;
  min-width: 300px;
  background-color: orange;
}

.content-container {
  background-color: green;
  width: 100%;
  max-width: 650px;
  padding: 0 1rem;
}
