html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  margin-top: 8rem;
  background-color: blue;
}

.sidebar-container {
  height: auto;
  flex: 0 0 250px;
  background-color: orange;
}

.content-container {
  background-color: green;
  width: 445px;
  height: auto;
  padding: 0 1rem;
}

@media screen and (max-width: 768px) {
  .content-container {
    width: 100%;
  }
  .sidebar-container {
    display: none;
  }
}
